Xin.Basic/Xin.Basic/Service References/NationalAQIPublishDataService/SyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://219.131.199.90:8340/SyncAirMonitorPublishData/SyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://219.131.199.90:8340/SyncAirMonitorPublishData/SyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://219.131.199.90:8340/SyncAirMonitorPublishData/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Xin.AQS.ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncService_SyncCityAQIPublishLive_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityAQIPublishLive" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityAQIPublishLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityAQIPublishLiveResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityAQIPublishHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityAQIPublishHistory" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityAQIPublishHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityAQIPublishHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityDayAQIPublishLive_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityDayAQIPublishLive" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityDayAQIPublishLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityDayAQIPublishLiveResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityDayAQIPublishHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityDayAQIPublishHistory" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SyncCityDayAQIPublishHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncCityDayAQIPublishHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncService">
    <wsdl:operation name="SyncCityAQIPublishLive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SyncCityAQIPublishLive" message="tns:ISyncService_SyncCityAQIPublishLive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SyncCityAQIPublishLiveResponse" message="tns:ISyncService_SyncCityAQIPublishLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncCityAQIPublishHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SyncCityAQIPublishHistory" message="tns:ISyncService_SyncCityAQIPublishHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SyncCityAQIPublishHistoryResponse" message="tns:ISyncService_SyncCityAQIPublishHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncCityDayAQIPublishLive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SyncCityDayAQIPublishLive" message="tns:ISyncService_SyncCityDayAQIPublishLive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SyncCityDayAQIPublishLiveResponse" message="tns:ISyncService_SyncCityDayAQIPublishLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncCityDayAQIPublishHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SyncCityDayAQIPublishHistory" message="tns:ISyncService_SyncCityDayAQIPublishHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SyncCityDayAQIPublishHistoryResponse" message="tns:ISyncService_SyncCityDayAQIPublishHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISyncService" type="tns:ISyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncCityAQIPublishLive">
      <soap:operation soapAction="http://tempuri.org/ISyncService/SyncCityAQIPublishLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCityAQIPublishHistory">
      <soap:operation soapAction="http://tempuri.org/ISyncService/SyncCityAQIPublishHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCityDayAQIPublishLive">
      <soap:operation soapAction="http://tempuri.org/ISyncService/SyncCityDayAQIPublishLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCityDayAQIPublishHistory">
      <soap:operation soapAction="http://tempuri.org/ISyncService/SyncCityDayAQIPublishHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="BasicHttpBinding_ISyncService" binding="tns:BasicHttpBinding_ISyncService">
      <soap:address location="http://219.131.199.90:8340/SyncAirMonitorPublishData/SyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>