Xin.Basic/Xin.Basic/Service References/NationalAQIPublishDataService/SyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://219.131.199.90:8340/SyncAirMonitorPublishData/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Xin.AQS.ClassLibrary" />
  <xs:element name="SyncCityAQIPublishLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityAQIPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Xin.AQS.ClassLibrary" minOccurs="0" name="SyncCityAQIPublishLiveResult" nillable="true" type="q1:ArrayOfCityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityAQIPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityAQIPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Xin.AQS.ClassLibrary" minOccurs="0" name="SyncCityAQIPublishHistoryResult" nillable="true" type="q2:ArrayOfCityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityDayAQIPublishLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityDayAQIPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Xin.AQS.ClassLibrary" minOccurs="0" name="SyncCityDayAQIPublishLiveResult" nillable="true" type="q3:ArrayOfCityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityDayAQIPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCityDayAQIPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Xin.AQS.ClassLibrary" minOccurs="0" name="SyncCityDayAQIPublishHistoryResult" nillable="true" type="q4:ArrayOfCityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>